<div class="col-span-6 sm:col-span-4 sm:col-start-1">
  <%= form.label :ukc_url, "UKC link" %>
  <%= form.text_field :ukc_url, autocomplete: "off", placeholder: "https://www.ukclimbing.com/logbook/crags/..." %>
</div>

<div class="col-span-6 sm:col-span-4 sm:col-start-1">
  <%= form.label :name %>
  <%= form.text_field :name, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-span-1">
  <%= form.label :grade %>
  <%= form.select :grade, Problem::DISPLAY_GRADE_VALUES, { include_blank: true } %>
</div>

<div class="col-span-6 sm:col-span-2">
  <%= form.label :steepness %>
  <%= form.select :steepness, Problem::STEEPNESS_VALUES, { include_blank: false, default: :other } %>
</div>

<div class="col-span-6 sm:col-span-4">
  <%= form.label :sit_start %>
  <%= form.check_box :sit_start %>
</div>

<div class="col-span-6 sm:col-span-3 sm:col-start-1">
  <%= form.label :lat, "Latitude" %>
  <%= form.text_field :lat, autocomplete: "off", placeholder: "e.g. 50.5712" %>
</div>

<div class="col-span-6 sm:col-span-3">
  <%= form.label :lon, "Longitude" %>
  <%= form.text_field :lon, autocomplete: "off", placeholder: "e.g. -3.9341" %>
</div>

<div class="col-span-6 sm:col-span-2 sm:col-start-1">
  <%= form.label :parent_id, "Parent id" %>
  <%= form.text_field :parent_id, autocomplete: "off" %>
</div>

<div class="col-span-6 sm:col-start-1">
  <%= form.label :description %>
  <%= form.text_area :description, rows: "4", class: "shadow-sm block w-full sm:text-sm border-gray-300 rounded-md", placeholder: "Optional description shown below the topo photo" %>
</div>
